body {
  background: rgb(167, 202, 230);
  background: linear-gradient(
    90deg,
    rgba(167, 202, 230, 1) 0%,
    rgba(212, 255, 254, 1) 71%
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
}

nav {
  background-color: #a7cae6;
  padding: 20px;
  height: 60px;
}
#App {
  width: 800px;
  margin: 20px auto;
  display: block;
}

.form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: whitesmoke;
  padding: 20px;
  margin-top: 20px;
  border: solid #dcdcdc 1px;
}

input {
  color: #555;
  padding: 10px 6px;
  width: 50%;
  box-sizing: border-box;
  border-bottom: 2px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
}

button {
  height: 40px;
  width: 110px;
  margin-top: 5px;
  border: solid #dcdcdc 1px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #dcdcdc;
  font-weight: bold;
}

#button {
  text-align: center;
}

#left {
  margin-left: 60px;
}

/*outer break point*/
@media screen and (max-width: 820px) {
  #App {
    width: 600px;
  }
}

/*inner break point*/
@media screen and (max-width: 620px) {
  #App {
    display: block;
    width: 97%;
    margin: auto;
  }
  .form {
    display: block;
    text-align: center;
  }
  #button {
    text-align: center;
  }
  input {
    width: 60%;
    margin-bottom: 20px;
  }
  nav {
    border: solid whitesmoke 1px;
  }
  #left {
    margin-left: 1px;
  }
}
